<mat-card>Ingrese los datos del paciente</mat-card>
<br/>

<form class="example-container" [formGroup]="form" (ngSubmit)="operar()" #loginForm="ngForm">
  <mat-grid-list cols="1" rowHeight="100px">
  <div [hidden]="true">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="ID" required formControlName="id">
    </mat-form-field>
  </div>

  <mat-grid-tile>
  <mat-form-field class="example-full-width  " >
    <input matInput placeholder="Nombres" required formControlName="nombre">
</mat-form-field>
</mat-grid-tile>
  

<mat-grid-tile>
  <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
    <mat-icon>done</mat-icon>
    <span>Aceptar</span>
  </button>
  &nbsp;
  &nbsp;
  &nbsp;
  <button mat-raised-button color="accent" routerLink='/especialidad' type="button">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
  </button>
</mat-grid-tile>
</mat-grid-list>

</form>

<br/>